<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/home.css">
<div class="wrapper">
    <div class="sidebar">
    <%- include('../layouts/sidebar', {PageName: 'home'}) %>
    </div>
    <div class="main_content">
        <header>
            <h1> <%- title %> </h1>
        </header>
        <div class="info">
            <div><h1> <%- user %>  </h1></div>
        </div>
    </div>
    <div id="main-header" class="main-header">
        Main Content
      </div>
</div>
<div>
    <%- include('../layouts/footer') %>
</div>

<script src="js/home.js"></script>