
    <!-- <div>
        <%= PageName %>
       </div> -->
   <!-- Use any element to open the sidenav -->
<nav>
    <label for="menu-toggle" class="menu-button">Menu</label>
    <input type="checkbox" id="menu-toggle" name="menu" value="">
    <div id="mySidenav" class="sidenav">
      <label class="closebtn" for="menu-toggle">&times;</label>
      <a href="#">Home</a>
      <a href="#">Resources</a>
      <a href="#">Guides</a>
      <a href="#">Examples</a>
    </div>
  </nav>
  
  <!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
 

<script>


</script>