*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
	margin: 0;
	font-family: Roboto, -apple-system, 'Helvetica Neue', 'Segoe UI', Arial, sans-serif;
	background: #358597;
}

.wrapper{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    overflow-y: scroll;
    display: grid;
    grid-template-columns: 16rem auto 23rem;
    gap: 1.2rem;
}
.main_content{
    width: 100%;
    padding: 6rem 6rem;
    scale: 0.8rem;
    transform: translate(40%);
}


/* beginning of sidebar */
.sidebar {
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  /* The side navigation menu */
  .sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 50px; /* Stay at the top */
    left: 0;
    background: #634d8d; /* Purple */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #fff;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    color: white;
    cursor: pointer;
    height: 50px;
    line-height: 55px;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left 0.5s;
    padding: 20px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav a {
      font-size: 18px;
    }
  }
  
  nav {
    height: 50px;
    background: #c1c1c1;
  }
  
  .menu-button {
    background: #4646cc;
    height: 40px;
    margin: 5px;
    float: left;
    line-height: 40px;
    width: 100px;
    text-align: center;
    color: white;
    border-radius: 4px;
    cursor: pointer;
  }
  
  #menu-toggle {
    display: none;
  }
  
  /* Move the menu if the button is clicked */
  body:has(#menu-toggle:checked) #mySidenav {
    width: 250px !important;
  }
/* end of sidebar */
.right{
    display: block;
    width: 100%;
    padding: 1.2rem 2rem;
    border-radius: 12px;
    /* border: 3px solid red; */
}

/* beginning of footer */
.footer {
    /* position: absolute; */
    top: 50%;
    left: 0%;
    transform: translate(0%, -50%);
    max-width: 100%;
    width: 100%;
    background: #10182F;
    border-radius: 6px;
  }
  .footer .footer-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 3.5rem;
    padding: 60px;
  }
  .footer-row .footer-col h4 {
    color: #fff;
    font-size: 1.2rem;
    font-weight: 400;
  }
  .footer-col .links {
    margin-top: 20px;
  }
  .footer-col .links li {
    list-style: none;
    margin-bottom: 10px;
  }
  .footer-col .links li a {
    text-decoration: none;
    color: #bfbfbf;
  }
  .footer-col .links li a:hover {
    color: #fff;
  }
  .footer-col p {
    margin: 20px 0;
    color: #bfbfbf;
    max-width: 300px;
  }
  .footer-col form {
    display: flex;
    gap: 5px;
  }
  .footer-col input {
    height: 40px;
    border-radius: 6px;
    background: none;
    width: 100%;
    outline: none;
    border: 1px solid #7489C6 ;
    caret-color: #fff;
    color: #fff;
    padding-left: 10px;
  }
  .footer-col input::placeholder {
    color: #ccc;
  }
   .footer-col form button {
    background: #fff;
    outline: none;
    border: none;
    padding: 10px 15px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 500;
    transition: 0.2s ease;
  }
  .footer-col form button:hover {
    background: #cecccc;
  }
  .footer-col .icons {
    display: flex;
    margin-top: 30px;
    gap: 30px;
    cursor: pointer;
  }
  .footer-col .icons i {
    color: #afb6c7;
  }
  .footer-col .icons i:hover  {
    color: #fff;
  }
  @media (max-width: 768px) {
    .footer {
      position: relative;
      bottom: 0;
      left: 0;
      transform: none;
      width: 100%;
      border-radius: 0;
    }
    .footer .footer-row {
      padding: 20px;
      gap: 1rem;
    }
    .footer-col form {
      display: block;
    }
    .footer-col form :where(input, button) {
      width: 100%;
    }
    .footer-col form button {
      margin: 10px 0 0 0;
    }
  }
  /* end of footer */